<ng-container>

  <app-header></app-header>

  <div *ngIf="user" id="profile-page-header" class="card">
      <div class="card-image">
          <div *ngIf="mobile" class="orange card-image-desktop"></div>
          <div *ngIf="!mobile" class="orange card-image-mobile"></div>                
      </div>
      <div class="card-content-size">
        <div class="row">
            <div *ngIf="!mobile" class="col s3 offset-s1 m2 offset-m2 center-align">  
                <figure class="card-profile-image">
                    <br>
                    <img src="{{path}}{{user.path}}" alt="profile image" class="circle z-depth-2 pointer white" width="125" height="125">
                </figure>
              </div>
              <div *ngIf="mobile" class="col s8 offset-s2 center-align">  
                <figure class="card-profile-image">
                    <br>
                    <img src="{{path}}{{user.path}}" alt="profile image" class="circle z-depth-2 pointer white" width="100" height="100">
                </figure>
              </div>
          <div class="col m8 s12 mobile-ajust">
            <h1 *ngIf="!mobile" class="bold white-text">{{user.username}} </h1>
            <h3 *ngIf="mobile" class="bold white-text">{{user.username}} </h3>
            <a *ngIf="!compareUser" class="waves-effect green waves-light btn activator">Ver atributos</a>
            <a *ngIf="compareUser" class="waves-effect green waves-light btn activator">Comparar atributos</a>
            <ng-container *ngIf="user.friends">
              <a *ngIf="user.friends.length != 0" (click)="seeFriends()" class="waves-effect green waves-light btn">Ver Amigos({{user.friends.length}})</a>
            </ng-container>
            <ng-container *ngIf="!isFriend && compareUser && !isRequestFriend">
                <br><br>
                <a (click)="sendRequestFriend(user.id)" id="btn-request-friend" class="waves-effect orange darken-1 waves-light btn">Enviar solicitud de amistad</a>
            </ng-container>
            <ng-container *ngIf="!isFriend && compareUser && isRequestFriend">
                <br><br>
                <a class="waves-effect orange darken-1 waves-light btn disabled">{{isRequestFriendMsg}}</a>
            </ng-container>
            <ng-container *ngIf="isFriend && compareUser && !isRequestMatch">
                <br><br>
                <a (click)="openRequesForm()" id="btn-request-match" class="waves-effect orange darken-1 waves-light btn">Enviar solicitud de partido</a>
            </ng-container>
            <ng-container *ngIf="isFriend && compareUser && isRequestMatch">
                <br><br>
                <a class="waves-effect orange darken-1 waves-light btn disabled">{{isRequestMatchMsg}}</a>
            </ng-container>
            <ng-container *ngIf="user.googlePlaceId">
                <br><br>
                <a href="/club/{{user.googlePlaceId}}" class="waves-effect black waves-light btn">Ver club favorito</a>
            </ng-container>
          </div>
        </div>
        <div class="card-content container">
          <div class="row">
            <div class="col m12 s12">
            <hr>
            <h4 *ngIf="!mobile" class="bold white-text">{{user.level}}</h4>
            <h5 *ngIf="mobile" class="bold white-text">Nivel 5 - Amateur TennisStar (20 puntos)</h5>
            <hr>
            <br>
            </div>                 
            <div class="col m3 s12">                        
                <h4 class="card-title bold white-text">{{user.firstname}} {{user.lastname}}</h4>
                <p class="medium-small bold black-text">Tenista</p>                        
            </div>
            <div class="col m3 s12">
                <h4 class="card-title bold white-text">{{user.gameLevel}}</h4>
                <p class="medium-small bold black-text">Nivel de juego</p>                        
            </div>
            <div class="col m3 s12">
                <h4 class="card-title bold white-text">{{user.gameStyle}}</h4>
                <p class="medium-small bold black-text">Estilo de juego</p>                        
            </div>                    
            <div class="col m3 s12">
                <h4 class="card-title bold white-text">{{user.backhandType}}</h4>
                <p class="medium-small bold black-text">Tipo de reves</p>                 
            </div>                
          </div>
          
        </div>
        
      </div>
      <div style="z-index:1001" class="card-reveal">
          <div class="container">
            <p>
              <span class="card-title grey-text text-darken-4"><i class="right material-icons">clear</i></span>
            </p>
            <div *ngIf="!mobile" class="row">
              <div class="col m2">
                <h4 *ngIf="!compareUser" class="green-text">Atributos: </h4>
                <h4 *ngIf="compareUser" class="green-text">Emparejamiento: </h4>
              </div>
              <div class="col m10">
                <canvas *ngIf="!compareUser" baseChart scale="25" [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType"></canvas>
                <canvas *ngIf="compareUser && user_aux" baseChart scale="25" [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType"></canvas>
              </div>
            </div>
            <div *ngIf="mobile" class="row">
                <h4 *ngIf="!compareUser" class="green-text">Atributos: </h4>
                <h4 *ngIf="compareUser" class="green-text">Emparejamiento: </h4>
                <canvas *ngIf="!compareUser" baseChart scale="25" [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType"></canvas>
                <canvas *ngIf="compareUser && user_aux" baseChart scale="25" [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType"></canvas>
            </div>
          </div>

      </div>
  </div>

  <div class="container" id="newMatchForm" style="display:none">
    <br>
    <h4 *ngIf="user" class="orange-text">Invitar a {{user.username}} a tu club favorito </h4>

    <form (ngSubmit)="sendRequestMatch()" [formGroup]="formMatch" novalidate="novalidate" class="col s12">
        <div class="row">
            <div class="input-field col s12">
            <input formControlName="title" id="title" type="text" class="validate">
            <label for="title">Nombre del partido</label>
            </div>
            <div class="col s6">
                <small class="grey-text">Fecha</small>
                <input formControlName="date" type="text" class="datepicker">
            </div>
            <div class="col s6">
                <small class="grey-text">Hora</small>
                <input formControlName="hour" type="text" class="timepicker">
            </div>
            <div class="col s12">
            <br>
            <button type='submit' id="btn_submit" name='btn_submit' class='col s12 btn btn-large waves-effect orange'>Enviar invitación</button>
            </div>
        </div>
        </form>
  </div>


  <div *ngIf="user" class="container">

    <collapsible-list [type]="'expandable'" style="margin-top:50px;">

    <collapsible-list-item *ngIf="user_aux && compareUser">
        <collapsible-header class="waves-effect green">
            <h4 class="white-text">Frente a frente </h4>
        </collapsible-header>
        <collapsible-body [expanded]="true">
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{user.username}}</th>
                        <th>{{user_aux.username}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bold">Nivel</td>
                        <td>{{user.level}}</td>
                        <td>{{user_aux.level}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Categoria</td>
                        <td>{{user.gameLevel}} - {{user.gameStyle}}</td>
                        <td>{{user_aux.gameLevel}} - {{user_aux.gameStyle}}</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #d0d0d0;">
                        <td class="bold">Edad</td>
                        <td class="black-text">{{user.age}} años</td>
                        <td>{{user_aux.age}} años</td>
                    </tr>
                    <tr>
                        <td class="bold">Partido Singles</td>
                        <td><span class="green-text">{{user.countSinglesWin}}W</span> <span class="red-text">{{user.countSinglesLoss}}L</span> ({{user.percentSingles}}%)</td>
                        <td><span class="green-text">{{user_aux.countSinglesWin}}W</span> <span class="red-text">{{user_aux.countSinglesLoss}}L</span> ({{user_aux.percentSingles}}%)</td>
                    </tr>
                    <tr style="border-bottom: 1px solid #d0d0d0;">
                        <td class="bold">Partido Dobles</td>
                        <td><span class="green-text">{{user.countDoblesWin}}W</span> <span class="red-text">{{user.countDoblesLoss}}L</span> ({{user.percentDobles}}%)</td>
                        <td><span class="green-text">{{user_aux.countDoblesWin}}W</span> <span class="red-text">{{user_aux.countDoblesLoss}}L</span> ({{user_aux.percentDobles}}%)</td>
                    </tr>
                    <tr>
                        <td class="bold">Torneo pequeño</td>
                        <td>
                            Semifinal: {{user.smallSemis}}<br>
                            Final: {{user.smallFinal}}<br>
                            Campeón: {{user.smallChampion}}
                        </td>
                        <td>
                            Semifinal: {{user_aux.smallSemis}}<br>
                            Final: {{user_aux.smallFinal}}<br>
                            Campeón: {{user_aux.smallChampion}}
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">Torneo mediano</td>
                        <td>
                            Cuartos de final: {{user.mediumCuartos}}<br>
                            Semifinal: {{user.mediumSemis}}<br>
                            Final: {{user.mediumFinal}}<br>
                            Campeón: {{user.mediumChampion}}
                        </td>
                        <td>
                            Cuartos de final: {{user_aux.mediumCuartos}}<br>
                            Semifinal: {{user_aux.mediumSemis}}<br>
                            Final: {{user_aux.mediumFinal}}<br>
                            Campeón: {{user_aux.mediumChampion}}
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid #d0d0d0;">
                        <td class="bold" >Torneo grande</td>
                        <td>
                            Octavos de final: {{user.bigOctavos}} <br>
                            Cuartos de final: {{user.bigCuartos}}<br>
                            Semifinal: {{user.bigSemis}}<br>
                            Final: {{user.bigFinal}}<br>
                            Campeón: {{user.bigChampion}}
                        </td>
                        <td>
                            Octavos de final: {{user_aux.bigOctavos}} <br>
                            Cuartos de final: {{user_aux.bigCuartos}}<br>
                            Semifinal: {{user_aux.bigSemis}}<br>
                            Final: {{user_aux.bigFinal}}<br>
                            Campeón: {{user_aux.bigChampion}}
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">Frente a Frente</td>
                        <td>
                            <div class="row">
                                <div *ngIf="!mobile" class="col m2">
                                    <img src="{{path}}{{user.path}}" style="margin-top:15px;" alt="profile image" class="circle z-depth-2 white" width="50" height="50">
                                </div>
                                <div class="col m10">
                                    <p>Singles {{user.h2hSingles}}</p>
                                    <p>Dobles {{user.h2hDobles}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div *ngIf="!mobile" class="col m2">
                                    <img src="{{path}}{{user_aux.path}}" style="margin-top:15px;" alt="profile image" class="circle z-depth-2 white" width="50" height="50">
                                </div>
                                <div class="col m10">
                                    <p>Singles {{user_aux.h2hSingles}}</p>
                                    <p>Dobles {{user_aux.h2hDobles}}</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </collapsible-body>
    </collapsible-list-item>

    <collapsible-list-item *ngIf="user.userMatch">
        <collapsible-header class="waves-effect green">
            <h4 class="white-text">Partidos </h4>
        </collapsible-header>
        <collapsible-body [expanded]="true">
        <p class="bold">Singles</p>
            <ul class="collection">
                <ng-container *ngFor="let um of user.userMatch">
                <li *ngIf="um.matchType == 'Singles'" class="collection-item">
                    <div class="row">
                        <div class="col s6">
                            <p style="margin-bottom:7px !important;">{{um.matchTitle}}</p>
                            <p style="margin-top:0px !important;">
                                <ng-container *ngIf="um.win == true">
                                    <span class="green-text bold">W</span>
                                </ng-container>
                                <ng-container *ngIf="um.win == false">
                                    <span class="red-text bold">L</span>
                                </ng-container>
                                {{um.score}}
                            </p>
                        </div>
                        <div class="col s6 center-align">
                            <p style="margin-bottom:7px !important;">
                                <a href="profile/{{um.team1aId}}" class="bold black-text">{{um.team1a}}</a> 
                                vs 
                                <a href="profile/{{um.team2aId}}" class="bold black-text">{{um.team2a}}</a>
                            </p>
                        </div>
                    </div>
                </li>
                </ng-container>
            </ul>
            <p class="bold">Dobles</p>
            <ul class="collection">
                <ng-container *ngFor="let um of user.userMatch">
                <li *ngIf="um.matchType == 'Dobles'" class="collection-item">
                    <div class="row">
                        <div class="col s6">
                            <p style="margin-bottom:7px !important;">{{um.matchTitle}}</p>
                            <p style="margin-top:0px !important;">
                                <ng-container *ngIf="um.win == true">
                                    <span class="green-text bold">W</span>
                                </ng-container>
                                <ng-container *ngIf="um.win == false">
                                    <span class="red-text bold">L</span>
                                </ng-container>
                                {{um.score}}
                            </p>
                        </div>
                        <div class="col s6 center-align">
                            <p style="margin-bottom:7px !important;">
                                <a href="profile/{{um.team1aId}}" class="bold black-text">{{um.team1a}}</a> - <a href="profile/{{um.team1bId}}" class="bold black-text">{{um.team1b}}</a><br>
                                vs<br>
                                <a href="profile/{{um.team2aId}}" class="bold black-text">{{um.team2a}}</a> - <a href="profile/{{um.team2bId}}" class="bold black-text">{{um.team2b}}</a><br>
                            </p>
                        </div>
                    </div>
                </li>
                </ng-container>
            </ul>
        </collapsible-body>
    </collapsible-list-item>
    
    <collapsible-list-item>
        <collapsible-header class="waves-effect green">
            <h4 class="white-text">Torneos </h4>
        </collapsible-header>
        <collapsible-body [expanded]="true">
        <p class="bold">Finales</p>
            <ul class="collection">
                <ng-container *ngFor="let um of user.tournaments">
                <li *ngIf="um.instance == 'Final'" class="collection-item">
                    <div class="row">
                        <div class="col s12">
                            <a class="orange-text" href="/tournament/{{um.id}}">
                                <p style="margin-bottom:7px !important;">{{um.title}}</p>
                            </a>
                            <p style="margin-top:0px !important;">
                                <ng-container *ngIf="um.win == true">
                                    <span class="green-text bold">W</span>
                                </ng-container>
                                <ng-container *ngIf="um.win == false">
                                    <span class="red-text bold">L</span>
                                </ng-container>
                                {{um.score}}
                            </p>
                        </div>
                    </div>
                </li>
                </ng-container>
            </ul>
            <p class="bold">Semifinales</p>
            <ul class="collection">
                <ng-container *ngFor="let um of user.tournaments">
                <li *ngIf="um.instance == 'Semifinal'" class="collection-item">
                    <div class="row">
                        <div class="col s12">
                            <a class="orange-text" href="/tournament/{{um.id}}">
                                <p style="margin-bottom:7px !important;">{{um.title}}</p>
                            </a>
                            <p style="margin-top:0px !important;">
                                <ng-container *ngIf="um.win == true">
                                    <span class="green-text bold">W</span>
                                </ng-container>
                                <ng-container *ngIf="um.win == false">
                                    <span class="red-text bold">L</span>
                                </ng-container>
                                {{um.score}}
                            </p>
                        </div>
                    </div>
                </li>
                </ng-container>
            </ul>
            <p class="bold">Cuartos de final</p>
            <ul class="collection">
                <ng-container *ngFor="let um of user.tournaments">
                <li *ngIf="um.instance == 'Cuartos de final'" class="collection-item">
                    <div class="row">
                        <div class="col s12">
                            <a class="orange-text" href="/tournament/{{um.id}}">
                                <p style="margin-bottom:7px !important;">{{um.title}}</p>
                            </a>
                            <p style="margin-top:0px !important;">
                                <ng-container *ngIf="um.win == true">
                                    <span class="green-text bold">W</span>
                                </ng-container>
                                <ng-container *ngIf="um.win == false">
                                    <span class="red-text bold">L</span>
                                </ng-container>
                                {{um.score}}
                            </p>
                        </div>
                    </div>
                </li>
                </ng-container>
            </ul>
        </collapsible-body>
    </collapsible-list-item>
    </collapsible-list>
    

  </div>

  <app-footer></app-footer>

</ng-container>