<nav class="green">
  <div class="nav-wrapper container">
    <a href="#!" class="brand-logo">Tennis-Star</a>
    <ul class="right">
      <li *ngIf="!mobile" class="pointer">
        <a href="/profile" class="tooltipped" data-position="bottom" data-tooltip="Ver perfil">
          {{username}}
        </a>
      </li>
      <li *ngIf="isNewUser != null" class="hide-on-small-only">
        <a (click)="openRequests()" id="btn-request" class="tooltipped" data-position="bottom" data-tooltip="Solicitudes">
          <i class="material-icons">group_add</i>
        </a>
      </li>
      <li *ngIf="isNewUser != null" class="hide-on-small-only">
        <a class="tooltipped" id="btn-event" (click)="viewEvents()" data-position="bottom" data-tooltip="Eventos">
          <i class="material-icons">event</i>
        </a>
      </li>
      <li *ngIf="isNewUser != null" class="hide-on-small-only">
        <a href="/explorar" class="tooltipped" data-position="bottom" data-tooltip="Explorar mapa">
          <i class="material-icons">explore</i>
        </a>
      </li>
      <li *ngIf="isNewUser != null" class="button-collapse">
        <a id="menu" (click)="openAside()" class="tooltipped" data-position="bottom" data-tooltip="Menú">
          <i class="material-icons">menu</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="mobile" class="fixed-action-btn">
  <a class="btn-floating btn-large green">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li><a (click)="openRequests()" class="btn-floating orange"><i class="material-icons">group_add</i></a></li>
    <li><a (click)="viewEvents()" class="btn-floating orange"><i class="material-icons">event</i></a></li>
    <li><a href="/explorar" class="btn-floating orange"><i class="material-icons">explore</i></a></li>
  </ul>
</div>

<aside class="sidebar-left-collapse green" style="z-index:9999">
  
  <div *ngIf="profile && auth.isAuthenticated()" class="center-align ">
    <div class="col s4">
      <img src="{{profile.picture}}" class="circle center-align" width="50" height="50">
    </div>
    <div class="col s8">
      <p class="bold">{{profile.name}}</p>
    </div>
  </div>

  <p *ngIf="username != null && mobile" class="bold center-align" style="margin-bottom:20px;">
      <a class="white-text" href="/profile">
        {{username}}
      </a>
  </p>
  <div *ngIf="isNewUser" class="center-align">
  <img src="{{path}}{{pathImg}}" class="circle" height="50" width="50">
  </div>

  <div class="sidebar-links">

    <div class="links link-blue selected">

      <a href="#">
        <i class="fa fa-picture-o"></i>Perfil
      </a>

      <ul class="sub-links">
        <li><a href="/profile" >Ver perfil</a></li>
        <li><a [routerLink]="['/completePerfil']">Editar perfil</a></li>
        <li><a href="#">Cambiar contraseña</a></li>
        <li><a (click)="viewFriends()" class="pointer">Lista de amigos</a></li>
        <li><a (click)="logout()" class="pointer">Salir</a></li>
      </ul>

    </div>

    <div class="links link-red">

      <a href="#">
        <i class="fa fa-heart-o"></i>Torneos
      </a>

      <ul class="sub-links">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
      </ul>

    </div>

    <div class="links link-yellow">

      <a href="#">
        <i class="fa fa-keyboard-o"></i>Partidos
      </a>

      <ul class="sub-links">
        <li><a href="/explorar">Crear partido</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
      </ul>

    </div>

    <div class="links link-green">

      <a class="pointer">
        <i class="fa fa-map-marker"></i>Clubes
      </a>

      <ul class="sub-links">
        <li><a href="/explorar/favoriteClub" class="pointer">Añadir club favorito</a></li>
      </ul>

    </div>

  </div>
  <br><br><br>

</aside>


