<nav class="green">
  <div class="nav-wrapper container">
    <a href="#!" class="brand-logo">Tennis-Star <img src="assets/images/logo.png" height="30" width="30"></a>
    <ul class="right hide-on-med-and-down">
      <li class="button-collapse">
        <a href="#" mat-button (click)="sidenav.open()"><i class="material-icons">menu</i></a>
      </li>
    </ul>
  </div>
</nav>

<!--
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </mat-sidenav>
</mat-sidenav-container>
-->
