<main>
    <div class="section"></div>

    <h5 class="white-text bold center-align">Ingresa tus datos para jugar</h5>
    <div class="section"></div>

    <div class="container center-align">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

        <form (ngSubmit)="loginForm()" [formGroup]="form" novalidate="novalidate" method="post" class="col s12">
          <div class='row'>
            <div class='col s12'>
                <a [routerLink]="['/']">
                  <img src="assets/images/logo.png" class="responsive-img">
                </a>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input formControlName="username" class='validate' type='email' name='username' id='username' />
              <label for='username'>Ingresa tu nombre de usuario</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input formControlName="password" class='validate' type='password' name='password' id='password' />
              <label for='password'>Ingresa tu contraseña</label>
            </div>
            <label style='float: right;'>
              <a class='pink-text' href='#!'><b>Olvido su contraseña?</b></a>
            </label>
          </div>

            <div class='row'>
              <div class="col s12">
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect green'>Ingresar</button>
              </div>
              <div class="col s12">
                <br>
                <a class="green-text" [routerLink]="['/register']"><p class="center-align">Crear cuenta</p></a>
              </div>
              <label style='float: left;'>
                <br><br>
                <a style="margin-left:10px;" class='pink-text' href='#!'><b>Ingresa con:</b></a>
              </label>
            </div>
            <div class="row">
              <div class="col s6">
                <a (click)="login()" class='col s12 btn btn-large waves-effect indigo'>Facebook</a>
              </div>
              <div class="col s6">
                <a (click)="login()" class='col s12 btn btn-large waves-effect red'>Google</a>
              </div>
            </div>
        </form>
      </div>
    </div>
    

  <div class="section"></div>
  <div class="section"></div>
</main>