<div class="container">
  <div class="row">
    <div class="col m12">
      <h3 class="green-text">Explorar</h3>
    </div>
    <div class="col m4 s12">
        <p class="orange-text bold">Usuarios</p>
        <ul *ngFor="let user of users" class="collection">
            <li class="collection-item avatar">
                <img [routerLink]="['profile/'+user.id]" src="assets/images/foto-perfil-default.png" alt="" class="circle pointer">
                <span [routerLink]="['profile/'+user.id]" class="title bold pointer">{{user.firstname}} {{user.lastname}}</span>
                <p>{{user.gameStyle}} <br>
                    {{user.gameLevel}}
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons orange-text">person_add</i></a>
            </li>
        </ul>
    </div>
    <div class="col m4 s12">
        <p class="orange-text bold">Partidos</p>
    </div>
    <div class="col m4 s12">
        <p class="orange-text bold">Torneos</p>
    </div>
  </div>
</div>