.gradient-45deg-amber-amber {
    background: #ff6f00;
    background: -webkit-linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
    background: linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
}

.border-round {
    border-radius: 50px !important;
}