<ng-container *ngIf="type == 1">
  <div class="relative">
    <div class="blur">
      <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng" [streetViewControl]=false [zoomControl]=false>
        <ng-container *ngFor="let marker of places">
            <agm-marker [latitude]="marker.geometry.location.lat" [longitude]="marker.geometry.location.lng" iconUrl="assets/images/marker1.png"></agm-marker>
        </ng-container>
        <ng-container *ngIf="isLocation">
            <agm-marker [latitude]="lat" [longitude]="lng" iconUrl="assets/images/marker-person.png" title="Tu posición"></agm-marker>
        </ng-container>
      </agm-map>
    </div>
    <div *ngIf="completeCharge" class="row absolute" style="top:0%;left:15%;width:80%">
        <div class="col m6 no-margin-mobile" style="margin-top:50px;">
          <h2 *ngIf="isNewUser == null" class="orange-text text-darken-1 fs-38">Impulsado por los mejores jugadores del mundo.</h2>
          <h2 *ngIf="isNewUser && fullCount != 2" class="orange-text text-darken-1 fs-38">Solo faltan dos pasos. {{fullCount}}/2</h2>
          <h2 *ngIf="fullCount == 2" class="orange-text text-darken-1 fs-38">Felicidades eres un Tennisstar</h2>
            <div class="row">
              <div class="col m6">
                <h3 *ngIf="isNewUser == null" class="orange-text text-darken-1 fs-25">Conviertete en uno de ellos.</h3>
                <h3 *ngIf="isNewUser && fullCount != 2" class="orange-text text-darken-1 fs-25">Ingresa tus datos y estilo de juego.</h3>
                <h3 *ngIf="fullCount == 2" class="orange-text text-darken-1 fs-25">Comienza a interactuar en nuestra red.</h3>
              </div>
              <div class="col m6 hide-on-small-only" style="margin-top:100px;">
                <dodecaedro></dodecaedro>
              </div>
            </div>
          <span id="buttons-map">
          <a *ngIf="isNewUser == null" [routerLink]="['/login']" [ngClass]="{'btn-large': !mobile, 'btn': mobile}" class="orange darken-1 waves-effect waves-light">Ingresa a TennisStar</a>
          <a *ngIf="isNewUser && fullCount != 2 && fullPlayer != true" [routerLink]="['/completePerfil']" [ngClass]="{'btn-large': !mobile, 'btn': mobile}" class="orange darken-1 waves-effect waves-light">Completa tus datos</a>
          <a *ngIf="fullCount == 2" href="/explorar/match" [ngClass]="{'btn-large': !mobile, 'btn': mobile}" class="orange darken-1 waves-effect waves-light">Crear partido</a>
          <br><br>
          <a *ngIf="isNewUser && fullCount != 2  && fullGame != true" [routerLink]="['/completeGameStats']" [ngClass]="{'btn-large': !mobile, 'btn': mobile}" class="orange darken-1 waves-effect waves-light">Completa tu perfil</a>
          <a *ngIf="fullCount == 2" href="/explorar/tournament" [ngClass]="{'btn-large': !mobile, 'btn': mobile}" class="orange darken-1 waves-effect waves-light">Crear torneo</a>
          </span>
        </div>
        <div class="col m6 hide-on-small-only">
          <img src="assets/images/{{homeImages[homeImageIndex]}}.png">
        </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type == 2 || type == 3">
  <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng" [streetViewControl]=false [zoomControl]=false>
    <ng-container *ngFor="let marker of places">
        <agm-marker (markerClick)="selectMarker(marker)"  [latitude]="marker.geometry.location.lat" [longitude]="marker.geometry.location.lng" iconUrl="assets/images/marker1.png" [title]="marker.name"></agm-marker>
    </ng-container>
    <ng-container *ngIf="isLocation">
        <agm-marker [latitude]="lat" [longitude]="lng" iconUrl="assets/images/marker-person.png" title="Tu posición"></agm-marker>
    </ng-container>
  </agm-map>

  <ng-container>
    <div id="newMatchForm" class="container d-none">
      <h3 class="orange-text">Partido en {{namePlaceMatch}}</h3>
      <div class="row">
          <form (ngSubmit)="newMatch()" [formGroup]="formMatch" novalidate="novalidate" class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input formControlName="title" id="title" type="text" class="validate">
                <label for="title">Nombre del partido</label>
              </div>
              <div class="input-field col s12">
                <select formControlName="type" name='type' id='type' class='type'>
                  <option [ngValue]="undefined" disabled selected>Tipo de juego</option>
                  <option [ngValue]="1">Singles</option>
                  <option [ngValue]="2">Dobles</option>
                </select>
                <label>Tipo de juego</label>
              </div>
              <div class="col s6">
                  <small class="grey-text">Fecha</small>
                  <input formControlName="date" type="text" class="datepicker">
              </div>
              <div class="col s6">
                  <small class="grey-text">Hora</small>
                  <input formControlName="hour" type="text" class="timepicker">
              </div>
              <div class="col s12">
                <p>
                  <input type="checkbox" formControlName="isPrivate" id="isPrivate" checked="isPrivate" />
                  <label for="isPrivate">Privado</label>
                </p>
              </div>
              <div class="col s12">
                <br>
                <button type='submit' id="btn_submit" name='btn_submit' class='col s12 btn btn-large waves-effect orange'>Crear partido</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </ng-container>


  <ng-container>
    <div id="newTournamentForm" class="container d-none">
      <h3 class="orange-text">Torneo en {{namePlaceTournament}}</h3>
      <div class="row">
          <form (ngSubmit)="newTournament()" [formGroup]="formTournament" novalidate="novalidate" class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input formControlName="title" id="title" type="text" class="validate">
                <label for="title">Nombre del torneo</label>
              </div>
              <div class="input-field col s12">
                <select formControlName="count" name='count' id='count' class='count'>
                  <option [ngValue]="undefined" disabled selected>Límite de jugadores</option>
                  <option [ngValue]="4">4 Jugadores</option>
                  <option [ngValue]="8">8 Jugadores</option>
                  <option [ngValue]="16">16 Jugadores</option>
                </select>
                <label>Límite de jugadores</label>
              </div>
              <div class="col s6">
                  <small class="grey-text">Fecha</small>
                  <input formControlName="date" type="text" class="datepicker">
              </div>
              <div class="col s6">
                  <small class="grey-text">Hora</small>
                  <input formControlName="hour" type="text" class="timepicker">
              </div>
              <div class="col s12">
                <br>
                <button type='submit' id="btn_submit" name='btn_submit' class='col s12 btn btn-large waves-effect orange'>Crear torneo</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </ng-container>

    
</ng-container>