<app-header></app-header>

  <div *ngIf="entity" id="profile-page-header" class="orange">
      <div class="card-image">
          <div *ngIf="mobile"></div>
          <div *ngIf="!mobile"></div>                
      </div>
      <div class="card-content-size">
        <div class="row">
          <div *ngIf="!mobile" class="col s4 offset-s2">  
            <figure class="card-profile-image">
                <br>
                <img src="{{entityPhoto}}" alt="profile image" class="z-depth-2 responsive-img">
            </figure>
          </div>
          <div *ngIf="mobile" class="col 12">  
            <figure class="card-profile-image">
                <br>
                <img src="{{entityPhoto}}" alt="profile image" class="z-depth-2 responsive-img">
            </figure>
          </div>
          <div class="col m6">
            <h1 *ngIf="!mobile" class="bold white-text">{{entity.name}}</h1>
            <h3 *ngIf="mobile" class="bold white-text">{{entity.name}}</h3>
            
            <a href="{{entity.website}}" target="_blank" class="waves-effect waves-light btn green"><i class="material-icons left">language</i>Sitio Web</a>
            
          </div>
        </div>
        <div class="card-content container">
          <div *ngIf="!mobile" class="row">  
            <div class="col m3 s12">
                <p style="height: 50px;" [innerHTML]="entity.adr_address" class="bold white-text"></p>
                <p class="medium-small bold black-text">Direccion</p>                        
            </div>                  
            <div *ngIf="entity.international_phone_number" class="col m3 s12">                        
                <p style="height: 50px;" class="card-title bold white-text">{{entity.international_phone_number}}</p>
                <p class="medium-small bold black-text">Contacto</p>                        
            </div>
            <div class="col m3 s12">
                <p style="height: 50px;" class="card-title bold white-text" [innerHTML]="entityStars"></p>
                <p class="medium-small bold black-text">Reputacion</p>                        
            </div>                    
            <div class="col m3 s12">
                <p style="height: 50px;" class="card-title bold white-text" [innerHTML]="entityOpening"></p>
                <p class="medium-small bold black-text">Estado</p>                        
            </div>                    
          </div>
          <div *ngIf="mobile" class="row">  
              <div class="col m3 s6">
                  <span class="medium-small bold black-text">Direccion</span>  
                  <p style="height: 50px;" [innerHTML]="entity.adr_address" class="bold white-text"></p>
              </div>                  
              <div *ngIf="entity.international_phone_number" class="col m3 s6">    
                  <span class="medium-small bold black-text">Contacto</span>                      
                  <p style="height: 50px;" class="card-title bold white-text">{{entity.international_phone_number}}</p>
              </div>
              <div class="col m3 s6" style="margin-top:30px;">
                  <span class="medium-small bold black-text">Reputacion</span>  
                  <p style="height: 50px;" class="card-title bold white-text" [innerHTML]="entityStars"></p>
              </div>                    
              <div class="col m3 s6" style="margin-top:30px;">
                  <span class="medium-small bold black-text">Estado</span>  
                  <p style="height: 50px;" class="card-title bold white-text" [innerHTML]="entityOpening"></p>
              </div>                    
            </div>
        </div>
      </div>
  </div>

  <div *ngIf="entity" class="container">

      <h4 class="green-text bold">Opiniones</h4>
        <ul class="collection">
            <li *ngFor="let review of entity.reviews" class="collection-item avatar">
              <img src="{{review.profile_photo_url}}" alt="" class="circle">
              <span class="title">{{review.author_name}}</span>
              <p>{{review.text}}</p>
            </li>
        </ul>
      <h4 class="green-text">Partidos: </h4>
      <h4 class="green-text">Torneos: </h4>

  </div>

<app-footer></app-footer>