<ng-container *ngIf="players == 4">

  <div class="container" style="height: 600px;width: 500px;">

    <h3 class="green-text bold">Cuadro principal</h3>

    <div class="round r-of-4">
    <div class="bracket-game">
      <div class="player top win">
        martinbobbio
        <div class="score">
          6 6
        </div>
      </div>
      <div class="player bot loss">
        pablofernandez
        <div class="score">
          4 2
        </div>
      </div>
    </div>
    <div class="bracket-game cont">
      <div class="player top loss">
        federer
        <div class="score">
          6 6
        </div>
      </div>
      <div class="player bot win">
        nadal
        <div class="score">
          0 0
        </div>
      </div>
    </div>
  </div>
  <div class="connectors r-of-2">
    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>
  </div>
  <div class="round r-of-2">
    <div class="bracket-game">
      <div class="player top loss">
        martinbobbio
        <div class="score">
          6 2 2
        </div>
      </div>
      <div class="player bot win">
        federer
        <div class="score">
          4 6 6
        </div>
      </div>
    </div>
  </div>

</div>

</ng-container>



<ng-container *ngIf="players == 8">

  <div class="container" style="height: 600px;width: 1000px;">

    <h3 class="green-text bold">Cuadro principal</h3>

    <div class="round r-of-4">
      <div class="bracket-game">
        <div class="player top win">
          martinbobbio
          <div class="score">
            6 6
          </div>
        </div>
        <div class="player bot loss">
          pablofernandez
          <div class="score">
            4 2
          </div>
        </div>
      </div>
      <div class="bracket-game cont">
        <div class="player top loss">
          federer
          <div class="score">
            6 6
          </div>
        </div>
        <div class="player bot win">
          nadal
          <div class="score">
            0 0
          </div>
        </div>
      </div>
      <div class="bracket-game">
        <div class="player top win">
          martinbobbio
          <div class="score">
            6 6
          </div>
        </div>
        <div class="player bot loss">
          pablofernandez
          <div class="score">
            4 2
          </div>
        </div>
      </div>
      <div class="bracket-game cont">
        <div class="player top loss">
          federer
          <div class="score">
            6 6
          </div>
        </div>
        <div class="player bot win">
          nadal
          <div class="score">
            0 0
          </div>
        </div>
      </div>
    </div>
    <div class="connectors r-of-2">
      <div class="top-line"></div>
      <div class="clear"></div>
      <div class="bottom-line"></div>
      <div class="clear"></div>
      <div class="vert-line"></div>
      <div class="clear"></div>
      <div class="next-line"></div>
      <div class="clear"></div>
      <div class="top-line2"></div>
      <div class="clear"></div>
      <div class="bottom-line2"></div>
      <div class="clear"></div>
      <div class="vert-line2"></div>
      <div class="clear"></div>
      <div class="next-line2"></div>
      <div class="clear"></div>
      <div class="top-line3"></div>
      <div class="clear"></div>
      <div class="bottom-line3"></div>
      <div class="clear"></div>
      <div class="vert-line3"></div>
      <div class="clear"></div>
      <div class="next-line3"></div>
      <div class="clear"></div>
    </div>
    <div class="round r-of-2">
      <div class="bracket-game">
        <div class="player top loss">
          martinbobbio
          <div class="score">
            6 2 2
          </div>
        </div>
        <div class="player bot win">
          federer
          <div class="score">
            4 6 6
          </div>
        </div>
      </div>
      <div style="margin-top:65px;" class="bracket-game">
        <div class="player top loss">
          martinbobbio
          <div class="score">
            6 2 2
          </div>
        </div>
        <div class="player bot win">
          federer
          <div class="score">
            4 6 6
          </div>
        </div>
      </div>
    </div>
    <div class="round r-of-2" style="margin-top:84px;margin-left:133px;">
      <div class="bracket-game">
        <div class="player top loss">
          martinbobbio
          <div class="score">
            6 2 2
          </div>
        </div>
        <div class="player bot win">
          federer
          <div class="score">
            4 6 6
          </div>
        </div>
      </div>
    </div>
</div>

</ng-container>



<ng-container *ngIf="players == 16">

  <div class="container" style="height: 600px;width: 1000px;">

    <h3 class="green-text bold">Cuadro principal</h3>

    <div class="round r-of-4">
      <div class="bracket-game">
        <div class="player top win">
          martinbobbio
          <div class="score">
            6 6
          </div>
        </div>
        <div class="player bot loss">
          pablofernandez
          <div class="score">
            4 2
          </div>
        </div>
      </div>
      <div class="bracket-game cont">
        <div class="player top loss">
          federer
          <div class="score">
            6 6
          </div>
        </div>
        <div class="player bot win">
          nadal
          <div class="score">
            0 0
          </div>
        </div>
      </div>
      <div class="bracket-game">
        <div class="player top win">
          martinbobbio
          <div class="score">
            6 6
          </div>
        </div>
        <div class="player bot loss">
          pablofernandez
          <div class="score">
            4 2
          </div>
        </div>
      </div>
      <div class="bracket-game cont">
        <div class="player top loss">
          federer
          <div class="score">
            6 6
          </div>
        </div>
        <div class="player bot win">
          nadal
          <div class="score">
            0 0
          </div>
        </div>
      </div>
      <div class="bracket-game cont">
        <div class="player top loss">
          federer
          <div class="score">
            6 6
          </div>
        </div>
        <div class="player bot win">
          nadal
          <div class="score">
            0 0
          </div>
        </div>
      </div>
      <div class="bracket-game cont">
        <div class="player top loss">
          federer
          <div class="score">
            6 6
          </div>
        </div>
        <div class="player bot win">
          nadal
          <div class="score">
            0 0
          </div>
        </div>
      </div>
      <div class="bracket-game cont">
        <div class="player top loss">
          federer
          <div class="score">
            6 6
          </div>
        </div>
        <div class="player bot win">
          nadal
          <div class="score">
            0 0
          </div>
        </div>
      </div>
      <div class="bracket-game cont">
        <div class="player top loss">
          federer
          <div class="score">
            6 6
          </div>
        </div>
        <div class="player bot win">
          nadal
          <div class="score">
            0 0
          </div>
        </div>
      </div>
    </div>
    <div class="connectors r-of-2">
      <div class="top-line"></div>
      <div class="clear"></div>
      <div class="bottom-line"></div>
      <div class="clear"></div>
      <div class="vert-line"></div>
      <div class="clear"></div>
      <div class="next-line"></div>
      <div class="clear"></div>
      <div class="top-line2"></div>
      <div class="clear"></div>
      <div class="bottom-line2"></div>
      <div class="clear"></div>
      <div class="vert-line2"></div>
      <div class="clear"></div>
      <div class="next-line2"></div>
      <div class="clear"></div>
      <div class="top-line3"></div>
      <div class="clear"></div>
      <div class="bottom-line3"></div>
      <div class="clear"></div>
      <div class="vert-line3"></div>
      <div class="clear"></div>
      <div class="next-line3"></div>
      <div class="clear"></div>
      <div class="top-line4"></div>
      <div class="clear"></div>
      <div class="bottom-line4"></div>
      <div class="clear"></div>
      <div class="vert-line4"></div>
      <div class="clear"></div>
      <div class="next-line4"></div>
      <div class="clear"></div>
      <div class="top-line5"></div>
      <div class="clear"></div>
      <div class="bottom-line5"></div>
      <div class="clear"></div>
      <div class="vert-line5"></div>
      <div class="clear"></div>
      <div class="next-line5"></div>
      <div class="clear"></div>
      <div class="top-line6"></div>
      <div class="clear"></div>
      <div class="bottom-line6"></div>
      <div class="clear"></div>
      <div class="vert-line6"></div>
      <div class="clear"></div>
      <div class="next-line6"></div>
      <div class="clear"></div>
      <div class="top-line7"></div>
      <div class="clear"></div>
      <div class="bottom-line7"></div>
      <div class="clear"></div>
      <div class="vert-line7"></div>
      <div class="clear"></div>
      <div class="next-line7"></div>
      <div class="clear"></div>
    </div>
    <div class="round r-of-2">
      <div class="bracket-game">
        <div class="player top loss">
          martinbobbio
          <div class="score">
            6 2 2
          </div>
        </div>
        <div class="player bot win">
          federer
          <div class="score">
            4 6 6
          </div>
        </div>
      </div>
      <div style="margin-top:65px;" class="bracket-game">
        <div class="player top loss">
          martinbobbio
          <div class="score">
            6 2 2
          </div>
        </div>
        <div class="player bot win">
          federer
          <div class="score">
            4 6 6
          </div>
        </div>
      </div>
      <div style="margin-top:75px;" class="bracket-game">
        <div class="player top loss">
          martinbobbio
          <div class="score">
            6 2 2
          </div>
        </div>
        <div class="player bot win">
          federer
          <div class="score">
            4 6 6
          </div>
        </div>
      </div>
      <div style="margin-top:65px;" class="bracket-game">
        <div class="player top loss">
          martinbobbio
          <div class="score">
            6 2 2
          </div>
        </div>
        <div class="player bot win">
          federer
          <div class="score">
            4 6 6
          </div>
        </div>
      </div>
    </div>
    <div class="round r-of-2" style="margin-top:84px;margin-left:133px;">
      <div class="bracket-game">
        <div class="player top loss">
          martinbobbio
          <div class="score">
            6 2 2
          </div>
        </div>
        <div class="player bot win">
          federer
          <div class="score">
            4 6 6
          </div>
        </div>
      </div>
    </div>
    <div class="round r-of-2" style="margin-top:322px;margin-left:-125px;">
      <div class="bracket-game">
        <div class="player top loss">
          martinbobbio
          <div class="score">
            6 2 2
          </div>
        </div>
        <div class="player bot win">
          federer
          <div class="score">
            4 6 6
          </div>
        </div>
      </div>
    </div>
    <div class="round r-of-2" style="margin-top:211px;margin-left:132px;">
      <div class="bracket-game">
        <div class="player top loss">
          martinbobbio
          <div class="score">
            6 2 2
          </div>
        </div>
        <div class="player bot win">
          federer
          <div class="score">
            4 6 6
          </div>
        </div>
      </div>
    </div>
</div>

</ng-container>

