.round {
    float: left;
  }
  .icon-add{
    font-size:29px;
    background: #EEE
  }
  .round.r-of-2 {
    margin-top: 25px;
  }
  .bracket-game {
    max-width: 125px;
    margin: 10px 0;
  }
  .player {
    min-width: 200px;
    border: 1px solid #9e9e9e;
    padding-left: 10px;
    position: relative;
  }
  .player.top {
    border-radius: 3px 3px 0 0;
  }
  .player.bot {
    border-radius: 0 0 3px 3px;
  }
  .player .score {
    display: inline;
    float: right;
    border-left: 1px solid #9e9e9e;
    padding-left: 10px;
    padding-right: 10px;
    background: #EEE;
  }
  .player.win {
    background-color: #4caf50;
  }
  .player.loss {
    background-color: #f44336;
  }
  .player.default{
    background-color: #EEE;
  }
  .connectors {
    float: left;
    min-width: 135px;
  }
  .connectors.r-of-2 .top-line {
    position: relative;
    top: 30px;
    left:75px;
    width: 42px;
    border: 1px solid #9e9e9e;
  }
  .connectors.r-of-2 .bottom-line {
    position: relative;
    top: 81px;
    left:75px;
    width: 42px;
    border: 1px solid #9e9e9e;
  }
  .connectors.r-of-2 .vert-line {
    position: relative;
    top: 26px;
    left: -16px;
    height: 55px;
    border-right: 2px solid #AAA;
  }
  .connectors.r-of-2 .next-line {
    position: relative;
    top: -4px;
    left: 119px;
    width: 17px;
    border: 1px solid #AAA;
  }
  .connectors.r-of-2 .top-line2 {
    position: relative;
    top: 88px;
    left:75px;
    width: 42px;
    border: 1px solid #9e9e9e;
  }
  .connectors.r-of-2 .bottom-line2 {
    position: relative;
    top: 131px;
    left:75px;
    width: 42px;
    border: 1px solid #9e9e9e;
  }
  .connectors.r-of-2 .vert-line2 {
    position: relative;
    top: 84px;
    left: -16px;
    height: 47px;
    border-right: 2px solid #AAA;
  }
  .connectors.r-of-2 .next-line2 {
    position: relative;
    top: 59px;
    left: 119px;
    width: 17px;
    border: 1px solid #AAA;
  }
  .connectors.r-of-2 .top-line3 {
    position: relative;
    top: -56px;
    left:335px;
    width: 42px;
    border: 1px solid #9e9e9e;
  }
  .connectors.r-of-2 .bottom-line3 {
    position: relative;
    top: 55px;
    left:335px;
    width: 42px;
    border: 1px solid #9e9e9e;
  }
  .connectors.r-of-2 .vert-line3 {
    position: relative;
    top: -60px;
    left: 242px;
    height: 115px;
    border-right: 2px solid #AAA;
  }
  .connectors.r-of-2 .next-line3 {
    position: relative;
    top: -116px;
    left: 376px;
    width: 17px;
    border: 1px solid #AAA;
  }
  .connectors.r-of-2 .top-line4 {
    position: relative;
    top: 31px;
    left:75px;
    width: 42px;
    border: 1px solid #9e9e9e;
  }
  .connectors.r-of-2 .bottom-line4 {
    position: relative;
    top: 86px;
    left:75px;
    width: 42px;
    border: 1px solid #9e9e9e;
  }
  .connectors.r-of-2 .vert-line4 {
    position: relative;
    top: 28px;
    left: -16px;
    height: 57px;
    border-right: 2px solid #AAA;
  }
  .connectors.r-of-2 .next-line4 {
    position: relative;
    top: -1px;
    left: 119px;
    width: 17px;
    border: 1px solid #AAA;
  }
  .connectors.r-of-2 .top-line5 {
    position: relative;
    top: 83px;
    left:75px;
    width: 42px;
    border: 1px solid #9e9e9e;
  }
  .connectors.r-of-2 .bottom-line5 {
    position: relative;
    top: 139px;
    left:75px;
    width: 42px;
    border: 1px solid #9e9e9e;
  }
  .connectors.r-of-2 .vert-line5 {
    position: relative;
    top: 81px;
    left: -16px;
    height: 57px;
    border-right: 2px solid #AAA;
  }
  .connectors.r-of-2 .next-line5 {
    position: relative;
    top: 49px;
    left: 119px;
    width: 17px;
    border: 1px solid #AAA;
  }
  .connectors.r-of-2 .top-line6 {
    position: relative;
    top: -67px;
    left:335px;
    width: 42px;
    border: 1px solid #9e9e9e;
  }
  .connectors.r-of-2 .bottom-line6 {
    position: relative;
    top: 45px;
    left:335px;
    width: 42px;
    border: 1px solid #9e9e9e;
  }
  .connectors.r-of-2 .vert-line6 {
    position: relative;
    top: -70px;
    left: 242px;
    height: 115px;
    border-right: 2px solid #AAA;
  }
  .connectors.r-of-2 .next-line6 {
    position: relative;
    top: -126px;
    left: 376px;
    width: 17px;
    border: 1px solid #AAA;
  }
  .connectors.r-of-2 .top-line7 {
    position: relative;
    top: -365px;
    left:592px;
    width: 42px;
    border: 1px solid #9e9e9e;
  }
  .connectors.r-of-2 .bottom-line7 {
    position: relative;
    top: -129px;
    left:592px;
    width: 42px;
    border: 1px solid #9e9e9e;
  }
  .connectors.r-of-2 .vert-line7 {
    position: relative;
    top: -367px;
    left: 500px;
    height: 237px;
    border-right: 2px solid #AAA;
  }
  .connectors.r-of-2 .next-line7 {
    position: relative;
    top: -479px;
    left: 634px;
    width: 17px;
    border: 1px solid #AAA;
  }
  .clear {
    clear: both;
  }