<footer class="page-footer green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Descarga nuestra aplicación</h5>
          <br>
          <div class="col s4">
            <img src="assets/images/googleplay.svg" class="responsive-img">
          </div>
          <div class="col s4">
            <img src="assets/images/appstore.svg">
          </div>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Unete a nosotros</h5>
          <div class="row">
            <div class="col s3">
              <a href="https://www.facebook.com/Tennis-Star-277777479419703"><i class="fa fa-facebook-square fa-3x"></i></a>
            </div>
            <div class="col s3">
              <a href="https://twitter.com/tennisstar_arg"><i class="fa fa-twitter fa-3x"></i></a>
            </div>
            <div class="col s3">
              <a href="https://www.instagram.com/tennisstar_arg/"><i class="fa fa-instagram fa-3x"></i></a>
            </div>
            <div class="col s3">
              <a href="https://plus.google.com/114000599259804761688?hl=es"><i class="fa fa-google-plus fa-3x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2017 TennisStar
      <a class="grey-text text-lighten-4 right" href="#!">Términos y condiciones</a>
      </div>
    </div>
  </footer>